name: Meson Build

env:
  R2V: 6.0.7

on:
  push:
    branches: [ main ]
  workflow_dispatch: {}

jobs:
  build:
    name: Build with meson and r2 plugin
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install build deps
        run: sudo apt-get update -y && sudo apt-get install -y build-essential meson ninja-build pkg-config

      - name: Build library
        run: meson setup builddir && meson compile -C builddir

      - name: Downloading Radare2 Debian packages
        run: |
          wget -O r2.deb     https://github.com/radareorg/radare2/releases/download/${{env.R2V}}/radare2_${{env.R2V}}_amd64.deb
          wget -O r2-dev.deb https://github.com/radareorg/radare2/releases/download/${{env.R2V}}/radare2-dev_${{env.R2V}}_amd64.deb

      - name: Installing Radare2
        run: sudo dpkg -i r2.deb r2-dev.deb

      - name: Build r2 plugin with meson
        run: meson compile -C builddir
